{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block header %}
<div class="container my-4">
  <form class="row g-2 justify-content-center" method="get" action="{{ url_for('main.index') }}">
    <div class="col-10 col-md-6">
      <input type="text" name="q" value="{{ q or '' }}" class="form-control" placeholder="Search by title, venue, or artist...">
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </div>
    {% if q %}
      <div class="col-12 text-center">
        <small class="text-muted">Showing results for “{{ q }}”</small>
      </div>
    {% endif %}
  </form>
</div>
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="d-flex justify-content-center gap-3 flex-wrap">
            <a class="btn {{ 'btn-primary' if c == category else 'btn-outline-light'}}"
                href="{{ url_for('main.index') }}">All</a>
            {% for c in categories %}
                <a class="btn {{ 'btn-primary' if c == category else 'btn-outline-light' }}"
                    href="{{ url_for('main.index', category=c) }}">{{ c }}</a>
            {% endfor %}
        </div>
    </div>

<div class="container">
    <div class="row g-4">
        {% for event in events %}
            {% include "events/_event_card.html" %}
        {% else %}
            <p class="text-muted"> No events found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}