<nav class ="navbar">
    <div class="container-fluid flex-column flex-lg-row align-items-center">
        <a class="navbar-brand mb-2 mb-lg-0 me-lg-auto" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/title.png') }}" class="brand-logo">
        </a>
        <ul class="navbar-nav d-flex flex-row flex-wrap justify-content-center">
            {% if current_user.is_authenticated %}
            <li class="nav-item mx-2"><span class="nav-name disabled">Hi, {{ current_user.name }}</span></li>
            {% endif %}
            <li class="nav-item mx-2"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="{{ url_for('main.index') }}">Events</a></li>
            {% if current_user.is_authenticated %}
                <li class="nav-item mx-2"><a class="nav-link" href="{{ url_for('main.create_event') }}">Create Event</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="{{ url_for('main.orders') }}">My Bookings</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li class="nav-item mx-2"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
